/*
CSS file for changing various aspects of the appearance of the website itself
This style-sheet is optimized for DESKTOP/LAPTOP Interfacing, please alter mobile_style_sheet to alter the mobile style
Created 7/15/18
Nathan Laning
 */

/*~~~~~~~ Default Style Settings ~~~~~~~~*/

/*~~~~~~~ Home Page Style ~~~~~~~ */

tile1{
    width: 100px;
    height: 100px;
}
#home, #player1, #player2{
    background: black;
    /*background: url(/images/background.png) 0 0;*/
    /*background-repeat: no-repeat;*/
    margin: 0;
}
/*~~~~~~~ Nav Style ~~~~~~~ */
divnav{
    background-color: #57bc36;
    display: block;
}
hn{
    font-family: Futura, cursive;
    padding: 10px;

}
divg{
    height: 7px;
    width: 100%;
    background: linear-gradient(to bottom,#919f80,#ecffd8);
    display: block;
}
/*~~~~~~~ Footer Style ~~~~~~~ */
af{
    position: absolute;
    bottom: 0;
    left: 50%;
    /*color: #919f80;*/
}